{# templates/layouts/navbar.html.twig #}

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4" aria-label="Third navbar example">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">FLEXVIEW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_create') }}">New Film</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout_confirm') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
